
@{
    ViewData["Title"] = "Index";
}

<h1> this is @ViewBag.page </h1>

@{
    ViewBag.Message = "you are in Index page";
}

@{
    ViewBag.Lists = new List<string>() { "A", "B", "C" };
    Html.RenderPartial("PartialView");
}

@section SectionOptions
{
    <a href="/Legal/Details"> Details </a>
}